[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-restful = "*"
flask-cors = "*"
flask-bcrypt = "*"
sqlalchemy-serializer = "*"
flask-wtf = "*"
jwt = "*"
pyjwt = "*"
flask-jwt-extended = "*"
email-validator = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12.2"
